package pages

import (
	"github.com/bamsy/go-echo-templ/views/layouts"
)

templ Landing() {
    @layout.Base() {
        <main>
            <h1 class="text-6xl">
                Hello from the landing page testing 12345678
            </h1>
        </main>
    }
}